/* HEADER CSS */
html, body {
    margin: 0;
    padding: 0;
    background-color: #c9dff5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4e9ceb;  
    padding: 5px 20px;

}

/* LOGO */
.logo {
    width: 50px;
    height: 50px;
}

/* hyperlinks to the right */
.header .right a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.header .right a:hover {
    text-decoration: underline;
    text-decoration-color: black;
    font-weight: bold;
}

/* button */
.button {
    background-color: #1076db;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: #092247;
}

/* button for records */
.button2 {
    background-color: #1076db;
    color: white;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
}

.button2:hover {
    background-color: #ff0b03;
}


/*create record container*/
.createform {
    max-width: 500px;
    width: 90%;
    background-color: rgb(80, 147, 202);
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
}

.recordscontainer {
    max-width: 1000px;
    width: 90%;
    background-color: rgb(80, 147, 202);
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;      /* allows next line */
    gap: 1px;            /* spacing between boxes */
    justify-content: center;
}

.container {
    max-width: 1000px;
    width: 90%;
    background-color: rgb(80, 147, 202);
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
}


.infocontainer {
    max-width: 250px;
    width: 95%;
    background-color: rgb(199, 211, 221);
    color: black;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;

    /* REMOVE flex */
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}


.footer {
    padding: 15px 0;
    text-align: center;
    font-size: 12px;
}

.footer p {
    margin: 0;
    letter-spacing: 0.5px;
}
