{% extends "base.html" %}

{% block page_title %}About - FlaskReports{% endblock %}

{% block content %}
<div class="container">
    <h1>About FlaskReports</h1>
    <hr class="line">
    <p>A demonstration of building a Flask CRUD application. A laboratory activity #5 and #6 of Lance Andrey Silva.</p>
    <div>
    <hr class="line">
    <h3>Features:<h3>
    
    <ul>
        <li>User Account Management</li>
        <li>Record CRUD Operations</li>
        <li>REST API</li>
        <li>Database Integration</li>
    </ul>
    </div>
</div>
{% endblock %}
