{% extends "base.html" %}

{% block title %}Record Detail{% endblock %}

{% block content %}

<div class="container">
    <h1>Title: {{ record.title }}</h1>
    <hr class="line">
    {% if record.content %}
        <p>Content: {{ record.content }}</p>
        
    {% else %}
    <p><em>No Content</em></p>
    {% endif %}

    <hr>
    <p>Created: <strong> {{ record.created_at }}</strong></p>
    <hr>
    <p><a class="button" href="{{ url_for('list_records')}}"> < Back to all records </a></p>
</div>
{% endblock %}
